@model IEnumerable<TrackIT.Models.Project>
@{
    ViewBag.Title = "Index";
    TrackIT.Models.TrackITDb db = new TrackIT.Models.TrackITDb();
}
<div class="grid_10">
    <h2>
        All Projects</h2>
</div>
<div class="grid_2" style="text-align: right;">
    @Html.ActionLink("New Project", "Create", "Project", new { }, new { @class = "button" })
</div>
<div class="grid_12">
    <div class="issueheader">
        <div class="issue-table-left" style="width: 308px;">
            Project Name</div>
        <div class="issue-table-in" style="width: 96px;">
            Start Date</div>
        <div class="issue-table-in" style="width: 96px;">
            Waiting Issues</div>
        <div class="issue-table-in" style="width: 110px;">
            In Progress Issues</div>
        <div class="issue-table-in" style="width: 96px;">
            Closed Issues</div>
        <div class="issue-table-in" style="width: 96px;">
            Resolved Issues</div>
        <div class="issue-table-right" style="width: 96px;">
            % Completed</div>
    </div>
</div>
<div class="grid_12">
    @foreach (var item in Model)
    {
        var waitingIssuesCount = db.Issues.Where(i => i.ProjectId == item.Id && i.Status == 1).Count();
        var inProgressIssuesCount = db.Issues.Where(i => i.ProjectId == item.Id && i.Status == 2).Count();
        var closedIssuesCount = db.Issues.Where(i => i.ProjectId == item.Id && i.Status == 3).Count();
        var resolvedIssuesCount = db.Issues.Where(i => i.ProjectId == item.Id && i.Status == 4).Count();
        float totalUnresolved = waitingIssuesCount + inProgressIssuesCount + closedIssuesCount;
        var percentCompleted = (100 / ((totalUnresolved + resolvedIssuesCount) == 0 ? 1 : totalUnresolved + resolvedIssuesCount)) * resolvedIssuesCount;
        
        <div class="issuelist">
            <div class="issue-table-left" style="width: 308px;">
                @Html.ActionLink(item.Name, "View", "Project", new { id = item.Id }, null)
            </div>
            <div class="issue-table-in" style="width: 96px;">
                @string.Format("{0:dd/MM/yyyy}", item.StartDate)</div>
            <div class="issue-table-in" style="width: 96px;">
                @waitingIssuesCount</div>
            <div class="issue-table-in" style="width: 110px;">
                @inProgressIssuesCount</div>
            <div class="issue-table-in" style="width: 96px;">
                @closedIssuesCount</div>
            <div class="issue-table-in" style="width: 95px;">
                @resolvedIssuesCount</div>
            <div class="issue-table-right" style="width: 96px;">
                %@string.Format("{0:0.00}", percentCompleted) </div>
        </div>
    }
</div>
